<!DOCTYPE html>
<html lang="en" >
  	<head>
		<title>tillr Value Calculator</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="stylesheet" href="./styles/vendor/bootstrap.min.css" />
		<link rel="stylesheet" href="./styles/vendor/rzslider.css" />
		<link rel="stylesheet" href="./styles/default.css" />
		<style type="text/css">
			/**
				* Hide when Angular is not yet loaded and initialized
				*/
			[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
				display: none !important;
			}
		</style>
	</head>
	<body ng-app="vc" ng-cloak>
		
		<header>
			<div class="container">
				<div class="row">
					<div class="logo">
						<img src="./images/logo.png" />
					</div>
					<div class="title">
						<h1>Value Calculator</h1>
						<h2>Calculate the time and money you can save with tillr.</h2>
					</div>
				</div>
				<div class="row">
					<h1>Value Calculator</h1>
				</div>
			</div>
		</header>
			
		<div class="container">
			
			<div class="row">
				<div class="col-xs-12">
					<value-calculator></value-calculator>
				</div>
			</div>
			
		</div>
	
		<script src="./scripts/vendor/angular.min.js"></script>
		<script src="./scripts/vendor/ngcurrency.js"></script>
		<script src="./scripts/vendor/rzslider.min.js"></script>
		<script src="./scripts/app.js"></script>

		<script type="text/ng-template" id="calculator.html">
			<ng-form name="calculator">

				<div class="row">
					
					<div class="col-xs-12 col-sm-6 col-md-4">
						
						<div class="well" id="questions">
						
							<!-- How many inspections do you perform per week? -->
							<div class="option">
								<div class="row">
									<div class="col-xs-12">
										<label for="inspections">How many inspections do you perform per week?</label>
									</div>
									<div class="col-xs-9">
										<rzslider rz-slider-model="calc.inspections" rz-slider-options="calc.inspectionsOptions"></rzslider>
									</div>
									<div class="col-xs-3">
										<input id="inspections" class="form-control" type="text" name="inspections" ng-model="calc.inspections" ng-change="calc.update()">
									</div>
								</div>
							</div>
							<!-- /How many inspections do you perform per week? -->
							
							<!-- How many hours of admin and chasing up does each inspection create for you? -->
							<div class="option">
								<div class="row">
									<div class="col-xs-12">
										<label for="hours">How many hours of admin and chasing up does each inspection create for you?</label>
									</div>
									<div class="col-xs-9">
										<rzslider rz-slider-model="calc.hours" rz-slider-options="calc.hoursOptions"></rzslider>
									</div>
									<div class="col-xs-3">
										<input id="hours" class="form-control" type="text" name="hours" ng-model="calc.hours" ng-change="calc.update()">
									</div>
								</div>
							</div>
							<!-- /How many hours of admin and chasing up does each inspection create for you? -->
							
							<!-- What is the average salary of the people managing inspections? -->
							<div class="option">
								<div class="row">
									<div class="col-xs-12">
										<label for="salary">What is the average salary of the people managing inspections?</label>
									</div>
									<div class="col-xs-9">
										<rzslider rz-slider-model="calc.salary" rz-slider-options="calc.salaryOptions"></rzslider>
									</div>
									<div class="col-xs-3">
										<input id="salary" class="form-control" type="text" name="salary" ng-model="calc.salary" ng-currency min="0" fraction="0" currency-symbol="£" ng-change="calc.update()">
									</div>
								</div>
							</div>
							<!-- /What is the average salary of the people managing inspections? -->
							
						</div>
						
					</div>

					<div class="col-xs-12 col-sm-6 col-md-4">
						
						<div class="well" id="calculations">
							
							<!-- Number of hours you spend on admin and chasing up per week -->
							<div class="option">
								<div class="row">
									<div class="col-xs-12">
										<label for="chase">Number of hours you spend on admin and chasing up per week</label>
									</div>
									<div class="col-xs-6 col-xs-offset-3">
										<input id="chase" class="form-control strong" type="text" readonly name="chase" ng-model="calc.chase" ng-change="calc.update()">
									</div>
								</div>
							</div>
							<!-- /Number of hours you spend on admin and chasing up per week -->
							
							<!-- Average hourly rate of a person managing inspections -->
							<div class="option">
								<div class="row">
									<div class="col-xs-12">
										<label for="rate">Average hourly rate of a person managing inspections</label>
									</div>
									<div class="col-xs-6 col-xs-offset-3">
										<input id="rate" class="form-control" type="text" readonly name="rate" ng-model="calc.rate" ng-currency min="0" fraction="2" currency-symbol="£"  ng-change="calc.update()">
									</div>
								</div>
							</div>
							<!-- /Average hourly rate of a person managing inspections -->
							
							<!-- Current cost of managing your inspections per week -->
							<div class="option">
								<div class="row">
									<div class="col-xs-12">
										<label for="weekcost">Current cost of managing your inspections per week</label>
									</div>
									<div class="col-xs-6 col-xs-offset-3">
										<input id="weekcost" class="form-control strong" type="text" readonly name="weekcost" ng-model="calc.weekcost" ng-currency min="0" fraction="2" currency-symbol="£"  ng-change="calc.update()">
									</div>
								</div>
							</div>
							<!-- /Current cost of managing your inspections per week -->
							
							<!-- Current cost of managing your inspections per year -->
							<div class="option">
								<div class="row">
									<div class="col-xs-12">
										<label for="yearcost">Current cost of managing your inspections per year</label>
									</div>
									<div class="col-xs-6 col-xs-offset-3">
										<input id="yearcost" class="form-control strong" type="text" readonly name="yearcost" ng-model="calc.yearcost" ng-currency min="0" fraction="0" currency-symbol="£"  ng-change="calc.update()">
									</div>
								</div>
							</div>
							<!-- /Current cost of managing your inspections per year -->
							
						</div>
						
					</div>

					<div class="col-xs-12 col-sm-12 col-md-4">
						
						<div class="well" id="result">
							
							<div>
							
								<h2 ng-if="!calc.edit" ng-click="calc.updatePercent()">tillr cuts the cost of managing your inspections by <span>{{calc.percent}}</span>%</h2>
								
								<div class="percent form-group" ng-if="calc.edit">
									<div class="row">
										<div class="col-xs-4">
											<div class="input-group">
												<div class="input-group-addon">%</div>
												<input id="percent" name="percent" class="form-control" ng-model="calc.percent" ng-change="calc.update()">
											</div>
										</div>
										<div class="col-xs-2">
											<button class="btn btn-sm" type="button" ng-click="calc.updatePercent()">done</button>
										</div>
									</div>
								</div>
								
								<!-- Hours saved per week using tillr -->
								<div class="option">
									<div class="row">
										<div class="col-xs-12">
											<label for="hourssaved">Hours saved per week using tillr</label>
										</div>
										<div class="col-xs-6 col-xs-offset-3">
											<input id="hourssaved" class="form-control input-lg" type="text" readonly name="hourssaved" ng-model="calc.hourssaved" ng-change="calc.update()">
										</div>
									</div>
								</div>
								<!-- /Hours saved per week using tillr -->
								
								<!-- Money saved per year using tillr -->
								<div class="option">
									<div class="row">
										<div class="col-xs-12">
											<label for="moneysaved">Money saved per year using tillr</label>
										</div>
										<div class="col-xs-6 col-xs-offset-3">
											<input id="moneysaved" class="form-control input-lg" type="text" readonly name="moneysaved" ng-model="calc.moneysaved" ng-currency min="0" fraction="0" currency-symbol="£"  ng-change="calc.update()">
										</div>
									</div>
								</div>
								<!-- /Money saved per year using tillr -->
							
							</div>
							
							<div id="team">
							
								<!-- It's not just me managing inspections... -->
								<div class="row">
									<div class="col-xs-12">
										<p><span>&#10077;</span> <a href="#" ng-click="calc.teams = !calc.teams">It's not just me managing inspections...</a> <span>&#10078;</span></p>
									</div>
								</div>
								<!-- /It's not just me managing inspections... -->
								
								<div class="well" ng-if="calc.teams">
								
									<!-- Including you, how many people manage inspections in your team? -->
									<div class="option">
										<div class="row">
											<div class="col-xs-12">
												<label for="team">Including you, how many people manage inspections in your team?</label>
											</div>
											<div class="col-xs-9">
												<rzslider rz-slider-model="calc.team" rz-slider-options="calc.teamOptions"></rzslider>
											</div>
											<div class="col-xs-3">
												<input id="team" class="form-control" type="text" name="team" ng-model="calc.team" ng-change="calc.update()">
											</div>
										</div>
									</div>
									<!-- /Including you, how many people manage inspections in your team? -->
								
								</div>
							
							</div>
							
						</div>
						
					</div>
					
				</div>
				
			</ng-form>
		</script>

		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-77712451-1', 'auto');
		ga('send', 'pageview');
		</script>
	</body>
</html>
